<body style="background-image: url('../../loginresource/images/pop.png'); ">

    <h3>PLEASE LOGIN TO CONTINUE</h3>
    <button>
        @Html.ActionLink("lOGIN", "LogIn", "Home");
    </button>
   

    
</body>
