<p>
    1. When you complete your Booking, you accept these Terms and any other terms that you’re provided with during the booking process.
    <br />
    2. If anything in these Terms is (or becomes) invalid or, unenforceable:

    it will still be enforced to the fullest extent permitted by law
    you will still be bound by everything else in the Terms.
    <br />
    3. These Terms are laid out like this:

    Section A: general terms, for all types of Travel Experiences.
    Sections B to F: specific terms, for just one type of Travel Experience:
    Section B: Accommodations
    Section C: Attractions
    Section D: Car rentals
    Section E: Flights
    Section F: Private and Public Transport
    If there’s any mismatch between general and specific terms, the specific terms will apply.
    4. The English version of these Terms is the original. If there’s any dispute about the Terms, or any mismatch between the Terms in English and in another language, the Terms as they appear in English will apply. (You can change the language at the top of this page.)
</p>
<button>
    @Html.ActionLink("LogIn", "LogIn", "Home")
</button>