@{

    <link href="~/Scripts/MyMovie.css" rel="stylesheet" />
}
<!DOCTYPE html>
<html lang=”en”>
<head>
    <title></title>
</head>

<body style="background-image: url('../../loginresource/images/pop.png'); ">

    @if (Session["Username"].ToString() == null && Session["Role"].ToString() == null)
    {
        Html.RenderPartial("_LogInError");
    }
    @using (Html.BeginForm(new { htmlAttributes = new { @style = "background-color:antiquewhite" } }))
    {

        <div>

            <img width="400" src="https://www.konexionetwork.com/Content/News/paytm-qr.jpg">


        </div>
        <!--Centered Image End-->

        <p>Enter UpI refrence</p>
        <input type="text" id="_name" onfocus="this.value = '';" onblur="if (this.value == '') " required>
        
        <input type="submit" value="Submit" class="btn btn-default" />

    }

    <!--Centered Image Start-->

</body>
</html>